*.swo
*.swp
*tmp*
*tmp*.*
.DS_Store
.cache
.idea
.nyc_output
.project
.settings/*
.vscode
.wireit
bower-package
bower_components
build
coverage
dependency-violation-report.html
jsdoc
node_modules
npm-debug.log
package-lock.json
platoreports
public
siteverification.id
src/*favicon-*.png
src/*tmp*.*
src/favicon.ico
tmp_*.md
tracking.*
**/*.tgz
