.DS_Store
*.swp
*.swo
.nyc_output
.project
.settings/*
node_modules
platoreports
jsdoc
coverage
src/favicon.ico
src/*favicon-*.png
src/*tmp*.*
*tmp*.*
*tmp*
tracking.*
siteverification.id
tmp_*.md
npm-debug.log
build
bower-package
bower_components
public
package-lock.json
docs/**
test/**
utl/**
.github/**
.bithoundrc
.eslintignore
.eslintrc.json
.gitlab-ci.yml
Makefile
jsdependencies.mk
webpack.config.js
.dependency-cruiser.json
