<table>
    <thead>
        <th>{{header.rowname}}</th>{{#header.values}}<th>{{.}}</th>{{/header.values}}
    </thead>
    <tbody>
        {{#rows}}
        <tr>
            <td class="rowheader">{{rowname}}</td>{{#values}}<td>{{.}}</td>{{/values}}
        </tr>
        {{/rows}}
    </tbody>
</table>
