name: install, lint, test - macos

on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        platform:
          - macos-latest

    runs-on: ${{matrix.platform}}

    steps:
      - name: check out
        uses: actions/checkout@v1
      # - name: cache node modules for ${{matrix.node-version}}@${{matrix.platform}}
      #   uses: actions/cache@v1
      #   with:
      #     path: node_modules
      #     key: ${{matrix.node-version}}@${{matrix.platform}}-build-${{hashFiles('package.json')}}
      #     restore-keys: |
      #       ${{matrix.node-version}}@${{matrix.platform}}-build-
      - name: set up node ${{matrix.node-version}}@${{matrix.platform}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version}}
      - name: install
        run: |
          node --version
          npm install
          brew install graphviz
        shell: bash
        env:
          CI: true
      - name: test coverage
        run: |
          node --version
          npm run test:cover
        shell: bash
        env:
          CI: true
